<!-- Index Page (index.ejs) -->
<section style="display: flex; height: 100%; padding: 0" class="hero">
  <img
    style="display: block; height: 100%; width: 40%"
    src="/images/pic1.jpg"
    alt=""
  />
  <div
    style="
      width: 60%;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    "
  >
    <h1>Welcome to the Election Website</h1>
    <p style="font-size: 24px">Register, Vote, and Make a Difference!</p>
    <div style="display: flex; width: 60%; gap: 10%; margin-top: 2%">
      <a class="cta-button" style="text-decoration: none" href="/register"
        >Register</a
      >
      <a
        class="cta-button"
        style="
          text-decoration: none;
          background-color: blueviolet;
          margin-left: auto;
        "
        href="/login"
        >Login</a
      >
    </div>
    <img style="display: block; width: 40%" src="/images/pic2.png" alt="" />
  </div>
</section>
